.formSection {
  display: flex;

  .ant-form-item-control-input-content, .ant-form-item-control-input-content .ant-select {
    width: 200px!important;
    margin-right: 32px;
  }
}

.modalButtonFooter {
  text-align: right;
  margin: 16px 0 0;

  button {
    margin-left: 8px;
  }
}